<body> 
<%=form_with(url:"/view_user/category_wise"  , method: "get")  do |form| %>
   <%= form.select :menu_category, ["Breakfast", "Lunch", "Snacks", "Dinner"],{:prompt=>"Choose category",},{class:"select_menus_users_category",:onchange=>"this.form.submit()"}%>
<% end %>
<% Menu.cache(@menus_category).each do |menu|%>
<div class = "row">
  <div class = "column">
    <div class = "displaycard">
     <br>
     <img src="<%= menu.menu_image%>" class = "menu_image_users">
      <p class = "name"><%= menu.menu_name %></p>
      <p class = "description"><%= menu.menu_description %></p>
      <p class = "cost"><%= menu.menu_cost%> ₹</p>
      <div class = "buttoncard">
      <%= form_with(url: "/carts/#{menu.id}"  , method: "get") do %>
         <input type = "submit" value = "+" class = "plus" name = "Add" id = "Add"  >     
      <% end %>
     
       <section class = "count_show">
         <% carts_menuid = model_user(Cart).where(menu_id: menu.id)%>
         <% carts_menuid.each do |cart|%>
         <%= cart.count%>   
         <% end%>
      </section>

      <%= form_with(url: "/carts/#{menu.id}/remove"  , method: "get") do %>
         <input type = "submit" value = "-" class = "minus" name = "Add" id = "Add"  > 
      <% end%>
      </div>
      <br>
    </div>
  </div>
<%end%>
</section>
</div>
</body>
