<body> 
<div class="card1">
<section class="card2">
 <p style="margin-left: 60%;margin-top:30px;display:inline-flex">
   <%= link_to "Menu", view_user_path, class:"SidebarComponentsRuby1"%>
  <%= link_to "My Orders", orders_path, class:"SidebarComponentsRuby1"%>
  <%= link_to "Cart", carts_path, class:"SidebarComponentsRuby1"%>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKGxujYqqoJ2wjE-cUDwfmfhjX-ls8t7TAcwcfgjd5LspLpQnT7-pXfP_pVapr9qF1kZQ&usqp=CAU" width="40px" height=40px > 
   <% c=0%>
  <% model_user(Cart).each do |cart|%>
    <%c=c+cart.count%>
  <% end %>
  <% if c!=0%>
  <%= c%>
  <% end %>
  <input type="image" class="image1" src="https://icones.pro/wp-content/uploads/2022/02/icone-de-cloche-grise.png" width="35px" height=35px onclick="menuToggle1();">
   <%= method_status("Delivered").count%>
  <div class="action1">
   <div class="MenuToggle1">
   <% method_status("Delivered").each do |del|%>
   <section style="display:inline-flex">
   <p>Order no: #<%= del.id %> was Delivered?</p>
   <%= button_to "Yes", "/orders/#{del.id}", method: "put", class:"UserHeader2"%>
   </section>
   <%end%>
  </div>
  </p>
  <script>
     function menuToggle1(){
        const toggleMenu = document.querySelector('.MenuToggle1');
        toggleMenu.classList.toggle('active')
     }
  </script>

  <br>
  <hr>
  <%= form_tag(view_user_path, method:"get") do%>
    <section class="SearchMenu">
     <%= search_field_tag :search, params[:search], placeholder:"Search menu",class:"searchmenu"%>
    </section>
  <% end %>
<% if params[:search].blank? %>
<% Menu.cachemethod.each do |menu|%>
<div class="row">
  <div class="column">
    <div class="card3">
     <br>
      <p class="name"><%= menu.menu_name %></p>
      <p class="description"><%= menu.menu_description %></p>
      <p class="cost"><%= menu.menu_cost%> ₹</p>
      <div class="card9" style="display=flex">
      <%= form_with(url: "/carts/#{menu.id}"  , method: "get") do %>
         <input type="submit" value="+" class="plus1" name="Add" id="Add"  >     
      <% end %>
     
       <section style="color:red;margin-top:4px; margin-left:3px">
         <% carts_menuid=model_user(Cart).where(menu_id: menu.id)%>
         <% carts_menuid.each do |cart|%>
         <%= cart.count%>   
         <% end%>
      </section>

      <%= form_with(url: "/carts/#{menu.id}/remove"  , method: "get") do %>
         <input type="submit" value="-" class="minus1" name="Add" id="Subtract"  > 
      <% end%>
      </div>
      <br>
    </div>
  </div>

<%end%>
<% elsif @results.count>0%>
       <% @results.each do |result| %>
       <div class="row">
  <div class="column">
    <div class="card3">
     <br>
      <p class="name"><%= result.menu_name %></p>
      <p class="description"><%= result.menu_description %></p>
      <p class="cost"><%= result.menu_cost%> ₹</p>
      <div class="card9" style="display=flex">
      <%= form_with(url: "/carts/#{result.id}"  , method: "get") do %>
         <input type="submit" value="+" class="plus1" name="Add" id="Add"  >     
      <% end %>
     
       <section style="color:red;margin-top:4px; margin-left:3px">
         <% carts_menuid=model_user(Cart).where(menu_id: result.id)%>
         <% carts_menuid.each do |cart|%>
         <%= cart.count%>   
         <% end%>
      </section>

      <%= form_with(url: "/carts/#{result.id}/remove"  , method: "get") do %>
         <input type="submit" value="-" class="minus1" name="Add" id="Subtract"  > 
      <% end%>
      </div>
      <br>
    </div>
  </div>
       <% end %>
<% else %>
<p> Oops not found! </p>
<% end %>

</section>
</div>
</body>

