<body> 
  <%= form_tag(view_user_path, method:"get") do%>
    <section class = "SearchMenu">
     <%= search_field_tag :search, params[:search], placeholder: "Search menu",class:"searchmenu"%>
    </section>
  <% end %>
<% if params[:search].blank? %>
<% Menu.cachemethod.each do |menu|%>
<div class = "row">
  <div class = "column">
    <div class = "displaycard">
     <br>
      <p class = "name"><%= menu.menu_name %></p>
      <p class = "description"><%= menu.menu_description %></p>
      <p class = "cost"><%= menu.menu_cost%> ₹</p>
      <div class = "buttoncard">
      <%= form_with(url: "/carts/#{menu.id}"  , method: "get") do %>
         <input type = "submit" value = "+" class = "plus" name="Add" id = "Add"  >     
      <% end %>
     
       <section class = "count_show">
         <% carts_menuid = model_user(Cart).where(menu_id: menu.id)%>
         <% carts_menuid.each do |cart|%>
         <%= cart.count%>   
         <% end%>
      </section>

      <%= form_with(url: "/carts/#{menu.id}/remove"  , method: "get") do %>
         <input type = "submit" value = "-" class = "minus" name="Add" id = "Subtract"  > 
      <% end%>
      </div>
      <br>
    </div>
  </div>

<%end%>
<% elsif @results.count>0%>
       <% @results.each do |result| %>
       <div class = "row">
  <div class = "column">
    <div class = "displaycard">
     <br>
      <p class = "name"><%= result.menu_name %></p>
      <p class = "description"><%= result.menu_description %></p>
      <p class = "cost"><%= result.menu_cost%> ₹</p>
      <div class = "buttoncard" >
      <%= form_with(url: "/carts/#{result.id}"  , method: "get") do %>
         <input type = "submit" value = "+" class = "plus" name="Add" id = "Add"  >     
      <% end %>
     
       <section class = "count_show">
         <% carts_menuid = model_user(Cart).where(menu_id: result.id)%>
         <% carts_menuid.each do |cart|%>
         <%= tag.span cart.count, class:"count_show"%>   
         <% end%>
      </section>

      <%= form_with(url: "/carts/#{result.id}/remove"  , method: "get") do %>
         <input type = "submit" value = "-" class = "minus" name = "Add" id = "Subtract"  > 
      <% end%>
      </div>
      <br>
    </div>
  </div>
       <% end %>
<% else %>
<p> Oops not found! </p>
<% end %>

</section>
</div>
</body>

