<body class = "middle">
<div class = "displaycard">
<section>
<%= form_with url: signin_users_update_password_path do |form| %>
<br>
<br>

<div class = "Form-section-menu">
 <section class = "display">
 <p class = "FormInput-label"> Mobile No<section class = "mandatory">*</section></p>
 </section>
 <%= form.text_field :mobile_no, class: "form-input", placeholder: "Enter mobile number", data: { numeric: true }%>
</div>
 
 <div class = "Form-section-menu">
 <section class = "display">
<p class = "FormInput-label">New Password<section class = "mandatory">*</section> </p>
</section>
 <%= form.password_field :password, class: "form-input", placeholder: "Enter new password "%>
 <p class = "note" >Atleast of 5 characters, one uppercase, digit, symbol</p>
 </div>

 <div class = "Form-section-menu">
 <section class = "display">
<p class = "FormInput-label">Confirm Password<section class = "mandatory">*</section> </p>
</section>
 <%= form.password_field :password_confirm , class: "form-input", placeholder: "Enter confirm  password "%>
 </div>

 <div class = "Form-section-menu">
 <%= form.submit "Change_Password", class: "submit-button"%>
 </div>

 </section>
<% end%>

</div>
</div>
</body>