<body style="width:40%;margin-top:40px">
<div class="card3">
<section class="UserNew">
<%= form_with url: signin_users_update_password_path do |form| %>
<br>
<br>

<div class="Form-section1">
 <section style="display:flex">
 <p class="FormInput-label"> Mobile No<section class="mandatory">*</section></p>
 </section>
 <%= form.text_field :mobile_no, class: "Form-input1", placeholder:"Enter mobile number", data: { numeric: true }%>
</div>
 
 <div class="Form-section1">
 <section style="display:flex">
<p class="FormInput-label">New Password<section class="mandatory">*</section> </p>
</section>
 <%= form.password_field :password, class: "Form-input1", placeholder:"Enter new password "%>
 </div>

 <div class="Form-section1">
 <section style="display:flex">
<p class="FormInput-label">Confirm Password<section class="mandatory">*</section> </p>
</section>
 <%= form.password_field :password_confirm , class: "Form-input1", placeholder:"Enter confirm  password "%>
 </div>

 <div class="Form-section1">
 <%= form.submit "Change_Password", class: "Form-submit1"%>
 </div>

 </section>
<% end%>

</div>
</div>
</body>