<body> 
<div class = "card">
<div class = "main_card">
<section>
  <p class = "SidebarComponents"> <%= link_to "Orders", orders_restaurant_path, class:"SidebarComponentsRuby"%></p>
 <p class = "SidebarComponents"> <%= link_to "Menu", menu_restaurant_path, class:"SidebarComponentsRuby"%></p>
  <p class = "SidebarComponents"><%= link_to "Users", users_restaurant_path, class:"SidebarComponentsRuby"%></p>
  <p class = "SidebarComponents"><%= link_to "Reports", reports_restaurant_path, class:"SidebarComponentsRuby"%></p>
</section>
<section class = "style_card">
<h1 class = "h1_style"">
 <%= @category.to_s %> Items </h1>
 <%=form_with(url:"/menus/category_wise"  , method: "get")  do |form| %>
   <%= form.select :menu_category, ["Breakfast", "Lunch", "Snacks", "Dinner"],{:prompt=>"Choose category",},{class:"select_menus_category",:onchange=>"this.form.submit()"}%>
<% end %>
<% Menu.cache(@menus_category).each do |menu|%>
  <div class = "column">
    <div class = "displaycard">
     <br>
     <img src="<%= menu.menu_image%>" class = "menu_image">
      <p class = "name"><%= menu.menu_name %></p>
      <p class = "description"><%= menu.menu_description %></p>
      <p class = "cost"><%= menu.menu_cost%> ₹</p>
      <br>
      <br>
      <section class = "display_css">
    <% if Owner.find_by(email: current_owner.email)%>
      <%= button_to "Edit", "/menus/#{menu.id}/edit", method: "get", class:"Edit"%>
    <% elsif Worker.find_by(email: current_owner.email)%>
       <%= button_to "Edit", "/menus/#{menu.id}/edit", method: "get", class:"Edit_Not", disabled:"true"%>
    <%end%>
    
    <% if Owner.find_by(email: current_owner.email)%>
    <%= button_to "Delete", "/menus/#{menu.id}", method: "delete", class:"Delete"%>
    <% elsif Worker.find_by(email: current_owner.email)%>
    <%= button_to "Delete", "/menus/#{menu.id}", method: "delete", class:"Delete_Not", disabled:"true"%>
    <%end%>
      </section>
    </div>
  </div>
<% end %>
</section>
</div>
</div>
</body>
