<body class = "middle">
<div class = "displaycard">
<section class = "UserNew">
<%= form_for Menu.cache1(@menu_edit) do |form| %>
<br>
<br>

<div class = "Form-section-menu">
<section class = "display">
<p class = "FormInput-label"> Menu Name<section class = "mandatory">*</section> </p>
</section>
 <%= form.text_field :menu_name, class: "form-input", placeholder: "Enter item name"%>
 </div>

 <section class = "parllel_cost_description">
 <div class = "Form-section-menu">
 <section class = "display">
<p class = "FormInput-label"> Menu_Category<section class = "mandatory">*</section> </p>
</section>
 <p class =  "Form-input-menus"><%= form.select :menu_category, ["Breakfast", "Lunch", "Snacks", "Dinner"], class:"dropdown_menu",  placeholder: "Select category"%></p>
 </div>
 <div class = "Form-section-menu">
 <section class = "display">
<p class = "FormInput-label"> Menu Cost<section class = "mandatory">*</section> </p>
</section>
 <%= form.text_field :menu_cost, class: "form-input-css", placeholder: "Enter cost", data: { numeric: true }%>
 </div>
 </section>

 <div class = "Form-section-menu">
 <section class = "display">
<p class = "FormInput-label"> Menu Description<section class = "mandatory">*</section> </p>
</section>
 <%= form.text_field :menu_description, class: "form-input-csschanges", placeholder: "Enter description"%>
 </div>
 
 <div class = "Form-section-menu">
 <section class = "display">
<p class = "FormInput-label"> Menu Image<section class = "mandatory">*</section> </p>
</section>
 <%= form.text_field :menu_image, class: "form-input-csschanges", placeholder: "Add/Edit item image"%>
 </div>

 <div class = "Form-section-menu">
 <%= form.submit "Save Menu", class: "submit-button"%>
 </div>
 </section>
<% end%>

</div>
</div>
</body>