<body> 
<div class="card">
<div class=card1" style="display:flex">
<section>
  <p class="SidebarComponents"> <%= link_to "Orders", orders_restaurant_path, class:"SidebarComponentsRuby"%></p>
 <p class="SidebarComponents"> <%= link_to "Menu", menu_restaurant_path, class:"SidebarComponentsRuby"%></p>
  <p class="SidebarComponents"><%= link_to "Users", users_restaurant_path, class:"SidebarComponentsRuby"%></p>
  <p class="SidebarComponents"><%= link_to "Reports", reports_restaurant_path, class:"SidebarComponentsRuby"%></p>
</section>
<section class="card2", style="margin-right:0px;">
<p style="margin-top:30px;margin-left:20px;display:inline-flex"><%= link_to "My Queue", orders_restaurant_path, class:"SidebarComponentsRuby1"%>
  <%= link_to "All Orders", all_orders_path, class:"SidebarComponentsRuby1"%>
  <%= link_to "Completed Orders", completed_orders_path, class:"SidebarComponentsRuby1"%>
  </p>
  <br>
  <hr>
<% @orders_completed=Order.orders1cachecompleted.to_a%>
<% @orders_completed.each do |order|%>
<% cache order do%>
    <div class="card10">
     <br>
     <p class="OrderNo">Order Id: #<%= order.id %></p>
      <section style="display:flex;justify-content:space-between;">
      <p class="user_name">Customer name: <%= User.find(order.user_id).name%> </p> 
      <p class="description", style="font-size:18px;color:rgb(148, 0, 78);margin-right:15px;"> Status: <%= order.status %></p>
      </section>
      <section style="display:flex;margin-left:7%;width:400px"> 
      <p style="color:rgb(1, 158, 0)"> Ordered on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" style="width:30px;height:23px">
      <p class="date"><%= order.created_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <section style="display:flex;margin-left:7%;width:400px">
      <p style="color:rgb(1, 158, 0)"> Delivered on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" style="width:30px;height:23px">
      <p class="date"><%= order.updated_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <p class="items">Items: </p>
      <p class="menu">
      <% @cost=0 %>
      <% order.menu.split("+") do |o| %>
       <br>
        <% str= o.split("*")%>
        <%= str[0]%>
        &nbsp;&nbsp;&nbsp;&nbsp;<%= "X "+str[1]%>
        <%# <% @cost=str[2].to_i+@cost%>
        <%# &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= str[2]+" ₹" %> 
        <%end %>
      <br>
      </p>
       <br>
      <%# <%= button_to "Add", new_menu_path, method: "get", class:"Add"%> 
      <%# <%= menu.id%> 
</div>
<% end%>
<% end %>
</section>
</div>
</div>
</body>