<body>
<div class="card">
<div class=card1" style="display:flex">
<section>
  <p class="SidebarComponents"> <%= link_to "Orders", orders_restaurant_path, class:"SidebarComponentsRuby"%></p>
 <p class="SidebarComponents"> <%= link_to "Menu", menu_restaurant_path, class:"SidebarComponentsRuby"%></p>
  <p class="SidebarComponents"><%= link_to "Users", users_restaurant_path, class:"SidebarComponentsRuby"%></p>
  <p class="SidebarComponents"><%= link_to "Reports", reports_restaurant_path, class:"SidebarComponentsRuby"%></p>
</section>
<section class="card2", style="margin-right:0px;">
<section style="margin-top:30px;margin-left:40px;display:inline-flex">
  <%= link_to "Customers", users_restaurant_path, class:"SidebarComponentsRuby4"%>
  <%= link_to "Workers", workers_path, class:"SidebarComponentsRuby4"%>
  <% if Owner.find_by(email: @owner_worker.to_s)%>
      <%= button_to "Add Worker", new_worker_path, method: "get", class:"AddNew"%>
  <% elsif Worker.find_by(email: @owner_worker.to_s)%>
      <%= button_to "Add Worker", new_worker_path, method: "get", class:"AddNew_Not", disabled:"true"%>
  <% end %>
  </section>
  <br>
  <hr>
<% User.all.each do |user|%>
     <br>
      <section style="display:flex;">
      <p class="user_name">Name: <%= user.name%> </p> 
      <p class="user_name">Mobile No: <%= user.mobile_no%> </p> 
      </section>
      <hr>
<% end%>
<br>
</section>
</div>
</div>
</body>