<body> 
<% if  @check_firstlogin_owner %>
<p class = "UserHeader"> Welcome <%= current_owner.name%>!</p>
<% end %> 
  <div class = "card">
<div class = "main_card" >
<section>
  <p class = "SidebarComponents"> <%= link_to "Orders", orders1_index_path, class:"RestaurantSideBarComponents"%></p>
 <p class = "SidebarComponents"> <%= link_to "Menu", menus_path, class:"RestaurantSideBarComponents"%></p>
  <p class = "SidebarComponents"><%= link_to "Users", show_customers_path, class:"RestaurantSideBarComponents"%></p>
  <p class = "SidebarComponents"><%= link_to "Reports", reports_path, class:"RestaurantSideBarComponents"%></p>
</section>

<section class = "style_card">
<br>
<p class = "queue-css"><%= link_to "My Queue", orders1_index_path, class:"SideBarComponentsUsersSide"%>
  <%= link_to "All Orders", all_orders_path, class:"SideBarComponentsUsersSide"%>
  <%= link_to "Completed Orders", completed_orders_path, class:"SideBarComponentsUsersSide"%>
  </p>
  <br>
  <br>
  <hr>
<% orders_queue = Order.cache(Order.where.not(status: AllConstants::ACTIVE_ORDERS))%>
<% orders_queue.each do |order|%>
    <div class = "main_card_orders">
     <br>
      <table class = "orders_id">
     <tr class = "orders_tr">
     <th class = "orders_th_id">Order Id :</th>
     <th class = "orders_th_id"><%= order.id %></th>
     </tr>
     <tr class = "orders_tr">
     <% user = User.find(order.user_id)%>
     <th class = "orders_th_name"><%= user.name%> :</th>
     <th class = "orders_th_name"><%= user.mobile_no%></th>
     </tr>
     </table>

      <section class = "rightside_status">
        <%= form_with(url: "/orders1/#{order.id}"  , method: "put") do |form| %> 
       <% if order.status != AllConstants::PENDING %>
           <% status=order.status%>
      <% else %>
          <% status = AllConstants::PENDING %>
       <% end %>
         <%= form.select :status, options_for_select(AllConstants::STATUS,status)%>
        <% if Owner.find_by(email: current_owner.email)%>
        <%= form.submit "Update",{class: "Update"} %>
        <% elsif Worker.find_by(email: current_owner.email)%>
        <%= form.submit "Update",class: "Update Update_Not", disabled: "true" %>
        <% end %>
      </section>
      <%end%>
      
      <section class = "date_style date_style_restaurant"> 
      <p class = "status-color"> Ordered on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" class = "date_image">
      <p class = "date"><%= order.created_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <% if order.status != AllConstants::PENDING %>
      <section class = "date_style date_style_restaurant">
      <p class = "status-color"> Updated on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" class = "date_image">
      <p class = "date"><%= order.updated_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <% end %>
       <p class = "menu">
    <table class = "orders">
    <tr class = "orders_tr">
    <th class = "orders_th">Items</th>
    <th class = "orders_th">Quantity</th>
    </tr>
      <% order.menu.split("+") do |o| %>
       <tr class = "orders_tr">
        <% str= o.split("*")%>
       <td class = "orders_td "> <%= str[0]%></td>
        <td class = "orders_td "><%= str[1]%></td>
       </tr>
      <%end%>
      
      </p>
    </table>
       <br>
       
</div>
<% end%>
</section>
</div>
</div>
</body>