<body> 
<div class="card14">
<p style="margin-left: 60%;margin-top:30px;display:inline-flex"><%= link_to "Menu", view_user_path, class:"SidebarComponentsRuby1"%>
  <%= link_to "My Orders", orders_path, class:"SidebarComponentsRuby1"%>
  <%= link_to "Cart", carts_path, class:"SidebarComponentsRuby1"%>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKGxujYqqoJ2wjE-cUDwfmfhjX-ls8t7TAcwcfgjd5LspLpQnT7-pXfP_pVapr9qF1kZQ&usqp=CAU" width="40px" height=40px >
  <% c=0%>
  <% model_user(Cart).each do |cart|%>
    <% cart.count%>
    <%c=c+cart.count%>
  <% end %>
  <% if c!=0%>
     <%= c%>
  <% end %>
  <input type="image" class="image1" src="https://icones.pro/wp-content/uploads/2022/02/icone-de-cloche-grise.png" width="35px" height=35px onclick="menuToggle1();">
   <%= method_status("Delivered").count %>
  <div class="action1">
   <div class="MenuToggle1">
   <% method_status("Delivered").each do |del|%>
   <section style="display:inline-flex">
   <p>Order no: #<%= del.id %> was Delivered?</p>
   <%= button_to "Yes", "/orders/#{del.id}", method: "put", class:"UserHeader2"%>
   </section>
   <%end%>
  </div>
  </p>
  <script>
     function menuToggle1(){
        const toggleMenu = document.querySelector('.MenuToggle1');
        toggleMenu.classList.toggle('active')
     }
  </script>

  <br>
  <hr>
<div class=card1" style="display:flex">
<section style="width:25%">
  <p class="SidebarComponents"> <%= link_to "All Orders", orders_path, class:"SidebarComponentsRuby3"%></p>
 <p class="SidebarComponents"> <%= link_to "Active Orders", user_active_orders_path, class:"SidebarComponentsRuby3"%></p>
  <p class="SidebarComponents"><%= link_to "Completed Orders", user_completed_orders_path, class:"SidebarComponentsRuby3"%></p>
</section>
<section class="card2">
<% active_orders = method_active_orders.cachemethod.sort_by(&:updated_at).reverse%>
<% active_orders.each do |order|%>

    <div class="card10">
     <br>
      <section class="card11">
        <p class="OrderNo">Order Id: #<%= order.id %></p>
        <p class="name">Status: <%= order.status %></p>
      </section>
      <section style="display:flex">
      <p class="user_name"><%= current_user.name%> - </p> 
      <p class="mobile_no"><%= current_user.mobile_no %></p>
      </section>
      <% if order.status=="Pending"%>
      <section style="display:flex;margin-left:7%;width:400px">
      <p style="color:rgb(1, 158, 0);margin-top:3px"> Ordered on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" style="width:30px;height:23px">
      <p class="date"><%= order.created_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <% else %>
      <section style="display:flex;margin-left:7%;width:500px">
      <p style="color:rgb(1, 158, 0);margin-top:3px"> Ordered on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" style="width:30px;height:23px">
      <p class="date"><%= order.created_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      <% time_diff=(order.updated_at - order.created_at) %>
      <% time_diff=(time_diff / 1.hour).round %>
      <p class="date">(<%= time_diff%> hours ago )</p>
      </section>
      <section style="display:flex;margin-left:7%;width:400px">
      <p style="color:rgb(1, 158, 0);margin-top:3px"> Updated on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" style="width:30px;height:23px">
      <p class="date"><%= order.updated_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <% end %>
      <p class="items">Items: </p>
      <p class="menu">
      <% cost=0 %>
      <% order.menu.split("+") do |o| %>
       <br>
        <% str= o.split("*")%>
        <%= str[0]%>
        &nbsp;&nbsp;&nbsp;&nbsp;<%= "X "+str[1]%>
        <% cost=str[2].to_i+cost%>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= str[2]+" ₹"%>
      <%end%>
      <br>
      </p>
      <p class="menu1">Total: &nbsp;&nbsp;<%= cost.to_s+" ₹"%></p>
      
</div>

<% end %>
</section>
      