<body> 
<div class = "main_card" >
<section class = "width">
  <p class = "SidebarComponents"> <%= link_to "All Orders", orders_path, class: "RestaurantSideBarComponents orders_sidebarcomponents"%></p>
  <p class = "SidebarComponents"> <%= link_to "Active Orders", user_active_orders_path, class: "RestaurantSideBarComponents orders_sidebarcomponents"%></p>
  <p class = "SidebarComponents"><%= link_to "Completed Orders", user_completed_orders_path, class: "RestaurantSideBarComponents orders_sidebarcomponents"%></p>
</section>
<section class = "style_card">
<% all_orders = currentuser_records(Order).cachemethod.sort_by(&:updated_at).reverse%>
<% all_orders.each do |order|%>

    <div class = "main_card_orders">
     <br>
     <br>
     <section class = "display" >
     <section class = "left_right_division">
      <p class="OrderNo">Order Id &nbsp; #<%= order.id %></p>
      <p class = "menu">
      <table class = "order">
        <tr class = "orders_tr">
             <th class = "orders_th">Items</th>
             <th class = "orders_th">Quantity</th>
             <th class = "orders_th">Cost(₹)</th>
        </tr>
         <% order.menu.split("+") do |o| %>
        <tr class = "orders_tr">
        <% str= o.split("*")%>
            <td class = "orders_td "> <%= str[0]%></td>
            <td class = "orders_td "><%= str[1]%></td>
            <td class = "orders_td "><%= str[2]%></td>
        </tr>
        <%end%>
      <br>
      </p>
    </table>
      <p class = "Total_cost">Total: &nbsp;&nbsp;<%= total_cost(order).to_s+" ₹"%></p>
      </section>
<section>
<p class = "status">Status: <%= order.status %></p>
<% if order.status == AllConstants::DELIVERED%>
      <section class = "date_style">
      <p class = "on"> Ordered on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" class = "date_image">
      <p class = "date date_created"><%= order.created_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <section class = "date_style">
      <p class = "on"> Delivered on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" class = "date_image">
      <p class = "date date_updated"><%= order.updated_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <% elsif order.status == AllConstants::PENDING %>
      <section class = "date_style">
      <p class = "on"> Ordered on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" class = "date_image">
      <p class = "date date_created"><%= order.created_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <% elsif order.status == AllConstants::CANCELLED%>
      <section class = "date_style">
      <p class = "on"> Ordered on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" class = "date_image">
      <p class = "date">&nbsp;&nbsp;&nbsp;<%= order.created_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <section class = "date_style">
      <p class = "on"> Cancelled on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" class = "date_image">
      <p class = "date"><%= order.updated_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <% else %>
      <section class = "date_style">
      <p class = "on"> Ordered on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" class = "date_image">
      <p class = "date date_orders_active"><%= order.created_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <% time_diff = (order.updated_at - order.created_at) %>
      <% time_diff = (time_diff / 1.hour).round %>
      <% if time_diff > 24 %>
        <p class = "time_diff">(<%= ((order.updated_at - order.created_at)/ 1.day).round%> days ago )</p>
      <% else %>
       <p class = "time_diff">( <%= time_diff%> hours ago )</p>
      <% end %>
      
      <section class = "date_style">
      <p class = "on"> Updated on: </p>
      <img src="https://www.shutterstock.com/image-illustration/calendar-icon-isolated-date-line-600w-1055897141.jpg" class = "date_image">
      <p class = "date date_updated"><%= order.updated_at.in_time_zone("Chennai").strftime("%b %d, %Y at %l:%M %p")%></p>
      </section>
      <% end %>

</section>
</section>
</div>
<% end %>
</div>
</body>
    