<body>
 <% cart_totalcount=0%>
<div class = "main_card" class = "display_css">
<section class = "card_cartsindex">
<table>
<br>
<tr>
    <th class = "carts_th">Items </th>
    <th class = "carts_th" >Quantity</th>
    <th class = "carts_th" >Cost</th>
<tr>
<% model_user(Cart).cachemethod.each do |cart|%>
<tr>
    <% if Menu.find_by(id: cart.menu_id).present?%>
    <th class = "orders_th_name"><%= Menu.find(cart.menu_id).menu_name %> </th>
    <th class = "orders_th_name" > <%= cart.count %></th>
    <% cart_totalcount = cart_totalcount + cart.count%>
     <th class = "orders_th_name" > <%= c = cart.count*Menu.find(cart.menu_id).menu_cost %> ₹</th>
    <% else %>
      <%= form_with(url: "/carts/#{cart.menu_id}/delete"  , method: "post")%>
    <% end %>
<tr>
<%end%>

<% cost=0%>
<% model_user(Cart).cachemethod.each do |cart|%>
<% cost=cost+(cart.count*Menu.find(cart.menu_id).menu_cost)%>
<%end%>
<tr>
    <th class = "carts_th_total">Total </th>
    <th class = "carts_th_total" ><%= cart_totalcount%></th>
    <th class = "carts_th_total" > <%= cost %> ₹</th>
<tr>

</table>
</section>
<section class = "card_cartsindexuser">
<p class = "user_title"> User details</p>
<table >
  <tr>
    <th class = "orders_th_name">Name :</th>
    <th class = "orders_th_name" ><%= current_user.name%></th>
  <tr> 
  <tr>
    <th class = "orders_th_name">Mobile No :</th>
    <th class = "orders_th_name"><%= current_user.mobile_no%></th>
  <tr> 
  <tr>
    <th class = "orders_th_name">Email Id :</th>
    <th class = "orders_th_name"><%= current_user.email%></th>
  <tr> 
  <tr>
    <th class = "orders_th_name">Address :</th>
    <th class = "orders_th_name"><%= current_user.address%></th>
  <tr>  
  <table>
      <% if cart_notempty %>
         <%= button_to "Place Order", orders_path, method: "post", class:"Order" %> 
      <% end %> 
</section>
</div>
</div>
</body>
