<body>
<div class = "card">
<div class = "main_card">
<section>
<img class = "delicious" src = "https://thumbs.dreamstime.com/b/restaurant-cafe-bistro-cooking-chef-logo-design-template-restaurant-cafe-bistro-cooking-chef-logo-design-113852274.jpg"  >
  <p class = "SidebarComponents"> <%= link_to "Orders", orders1_index_path, class: "RestaurantSideBarComponents"%></p>
 <p class = "SidebarComponents"> <%= link_to "Menu", menus_path, class: "RestaurantSideBarComponents"%></p>
  <p class = "SidebarComponents"><%= link_to "Users", show_customers_path, class: "RestaurantSideBarComponents"%></p>
  <p class = "SidebarComponents"><%= link_to "Reports", reports_path, class: "RestaurantSideBarComponents"%></p>
</section>
<section class = "style_card">
<section class = "bar_style">
  <%= link_to "Customers", show_customers_path, class: "Sidebar_Users"%>
  <%= link_to "Workers", workers_path, class: "Sidebar_Users"%>
 <% if Owner.find_by(email: current_owner.email)%>
  <section class = "myDIV">
  <%= button_to " + ", new_worker_path, method: "get", class: "addnew"%>
  </section>
   <div class = "hide" >Add Worker</div>
  <% elsif Worker.find_by(email: current_owner.email)%>
  <section class = "myDIV">
  <%= button_to " + ", new_worker_path, method: "get", class: "addnew" , disabled: "true", style: "cursor:not-allowed;color: white;background-color: grey"%>
  </section>
   <% end %>
  </section>
  <br>
  <hr>
<% User.cachemethod.each do |user|%>
     <br>
      <section class = "display">
      <p class = "user_name">Name: <%= user.name%> </p> 
      <p class = "user_name">Email: <%= user.email%></p>
      <p class = "user_name">Mobile No: <%= user.mobile_no%> </p> 
      </section>
      <hr>
<% end%>
<br>
</section>
</div>
</div>
</body>
