<body> 
<div class="card">
<p> Order status for  Order Id:   #<%=@order_id %></p>
<p> Customer Name: <%= @user_name %></p>
<p> Customer Mobile number: <%= @user_mobileno%></p>
<p> Customer Address: <%= @user_address%></p>
<% @cost=0 %>
<p> Order status Update: <%= @status %>
<% @menu.split("+") do |o| %>
    <br>
       <br>
        <% str= o.split("*")%>
        <%= str[0]%>
        &nbsp;&nbsp;<%= "X "+str[1]%>
        <% @cost=str[2].to_i+@cost%>
        &nbsp;&nbsp;&nbsp;&nbsp;= &nbsp; <%= str[2]+" ₹"%>
<% end %>
<br>
<p class="menu1">Total: &nbsp;&nbsp;<%= @cost.to_s+" ₹"%></p>
</div>
</body>