<body> 
<style>
 td, th {
  border: 1px solid #EEEEEE;
  text-align: center;
  padding: 14px;
  font-size:20px;
}
</style>
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>

<div class = "main_card">
<meta name = "viewport" content = "width=device-width, initial-scale=1">
<section class = "style_card">

<section id = "main">
<section id="mySidebar" class = "sidebar">
  <a href="javascript:void(0)" class = "closebtn" onclick = "closeNav()">×</a>
  <p class = "SidebarComponents"> <%= link_to "Orders", orders1_index_path, class:"RestaurantSideBarComponents"%></p>
 <p class = "SidebarComponents"> <%= link_to "Menu", menus_path, class:"RestaurantSideBarComponents"%></p>
  <p class = "SidebarComponents"><%= link_to "Users", show_customers_path, class:"RestaurantSideBarComponents"%></p>
  <p class = "SidebarComponents"><%= link_to "Reports", reports_path, class:"RestaurantSideBarComponents"%></p>
</section>

<div class = "display" >
  <button class = "openbtn" onclick = "openNav()">☰</button>  
  <p class = "h1_reports_style"> Customer Reports </p>
</div>
<br>
<hr>
<%= form_with(url:"/reports", method: "get", class:"style")  do |form| %>
   <p class = "display">
   <%= form.select :name, User.all.map{ |t| t.name},{:prompt=>"Choose Customer name",:selected=>params[:name]},{class:"select select_reports",style:"margin-left:850px",id:"name"}%>
   <%= form.select :status, AllConstants::ALL_STATUS, {:prompt=>"Choose status", :selected => params[:status]},{class:"select select_reports",id:"status"} %>
   <%= form.select :ordered, Order.all.map { |t| t.created_at.in_time_zone("Chennai").strftime("%b %d, %Y")}.uniq, {:prompt=>"Choose Ordered date", :selected => params[:ordered]},{class:"select select_reports",id:"date"} %> 
   <%= form.submit "Reports", class:"Reports" %>
   </p>
<% end %>

<% if params[:name].blank? && params[:status].blank?&& params[:ordered].blank?%>
<% customer_orders=Order.all%>
<% else %>
<% if params[:name] && params[:status].blank?&& params[:ordered].blank?%>
  <% customer_id = User.find_by(name: params[:name]).id %>
  <% customer_orders=Order.where(user_id: customer_id) %>

<% elsif params[:status]&& params[:name].blank? && params[:ordered].blank? %>
  <% customer_orders=Order.where(status: params[:status]) %>
  
<% elsif params[:ordered]&& params[:name].blank?&& params[:status].blank?%>
  <% customer_orders=Order.where(created_at: Date.parse(params[:ordered].to_s).beginning_of_day..Date.parse(params[:ordered].to_s).end_of_day) %>

<% elsif params[:name]&& params[:status] && params[:ordered].blank? %>
  <% customer_id = User.find_by(name: params[:name]).id %>
   <% customer_orders=Order.where(user_id: customer_id).and(Order.where(status: params[:status])) %> 

<% elsif params[:name]&& params[:ordered] && params[:status].blank? %>
<% customer_id = User.find_by(name: params[:name]).id %>
<% customer_orders=Order.where(user_id: customer_id).and(Order.where(created_at: Date.parse(params[:ordered].to_s).beginning_of_day..Date.parse(params[:ordered].to_s).end_of_day)) %>

<% elsif params[:status]&& params[:ordered] && params[:name].blank? %>
<% customer_orders=Order.where(status: params[:status]).and(Order.where(created_at: Date.parse(params[:ordered].to_s).beginning_of_day..Date.parse(params[:ordered].to_s).end_of_day)) %>

<% elsif params[:name]&& params[:status] && params[:ordered] %>
<% customer_id = User.find_by(name: params[:name]).id %>
<% customer=Order.where(user_id: customer_id).and(Order.where(created_at: Date.parse(params[:ordered].to_s).beginning_of_day..Date.parse(params[:ordered].to_s).end_of_day)) %>
<% customer.to_a %>
<% customer_orders=Order.where(status: params[:status]).and(customer)%>

<% end %>
<% end %>

<% @customer_orders = customer_orders.page(params[:page])%>
<br>
<%= paginate @customer_orders%>
<br>
<br>
<table>
<thead>
  <tr style="color: #890000;;font-size:20px">
    <th>Order Id</th>
    <th>Customer Name</th>
    <th >Mobile No</th>
    <th >Ordered On</th>
    <th>Delivery Status</th>
    <th >Delivered</th>
    <th>Items</th>
    <th >Quantity</th>
    <th >Total Cost ₹</th>
  </tr>
  </thead>
  <tbody>
  <% @customer_orders.each do |report|%>
  <tr>
    <td><%= report.id %></td>
    <td class = "user_name" style="margin-top:15px;"><%= User.find(report.user_id).name%></td>
    <td><%= User.find(report.user_id).mobile_no %></td>
    <td><%= report.created_at.in_time_zone("Chennai").strftime("%b %d, %Y") %></td>
    <td class = "user_name"><%= report.status %></td>
    <%if report.status == "Delivered" %>
      <td class = "user_name"><%= report.updated_at.in_time_zone("Chennai").strftime("%b %d, %Y") %></td>
    <% else %>
       <td class = "user_name"></td>
    <% end %>
    <td>
       <% report.menu.split("+") do |o| %>      
        <% str= o.split("*")%>
        <%= str[0]%>
        <br>
        <% end %>
    </td>
    <td>
    <% cost=0%>
       <% report.menu.split("+") do |o| %>      
        <% str= o.split("*")%>
         <%= str[1]%>
        <% cost=str[2].to_i+cost%>
        <br>
        <% end %>
    </td>

    <td><%= cost%></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
</section>
</div>
</body>