<body> 
<style>
 td, th {
  border: 1px solid #EEEEEE;
  text-align: center;
  padding: 14px; 
  font-size:20px;
}
</style>
<script src="js/script.js"></script>
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>

<div class = "main_card">
<meta name = "viewport" content = "width=device-width, initial-scale=1">
<section class = "style_card">

<section id="mySidebar" class = "sidebar">
  <a href="javascript:void(0)" class = "closebtn" onclick = "closeNav()">×</a>
  <p class = "SidebarComponents"> <%= link_to "Orders", orders1_index_path, class:"SidebarComponentsRestaurantSide"%></p>
 <p class = "SidebarComponents"> <%= link_to "Menu", menus_path, class:"SidebarComponentsRestaurantSide"%></p>
  <p class = "SidebarComponents"><%= link_to "Users", show_customers_path, class:"SidebarComponentsRestaurantSide"%></p>
  <p class = "SidebarComponents"><%= link_to "Reports", reports_path, class:"SidebarComponentsRestaurantSide"%></p>
</section>

<section id = "main">
<div class = "display" >
  <button class = "openbtn" onclick = "openNav()">☰</button>  
  <p class = "h1_reports_style"> Customer Reports </p>
</div>
<%= form_with(url:"/reports", method: "get", class:"style")  do |form| %>
   <p class = "dropdown">
   <%= form.select :name, User.all.map{ |t| t.name},{:prompt=>"Choose Customer name",:selected=>params[:name]},{class:"select select_reports"}%>
   <%= form.select :status, ["Pending","Cancelled", "Add to queue", "Preparing", "Delivered","Confirm Success"], {:prompt=>"Choose status", :selected => params[:status]},{class:"select select_reports"} %>
   <%= form.select :ordered, Order.all.map { |t| t.created_at.in_time_zone("Chennai").strftime("%b %d, %Y")}.uniq, {:prompt=>"Choose Ordered date", :selected => params[:ordered]},{class:"select select_reports"} %> 
   <%= form.submit "Reports", class:"Reports" %>
   </p>
<% end %>

<% if params[:name].blank? && params[:status].blank?&& params[:ordered].blank?%>
<% @customer_orders=Order.all%>
<% else %>
<% if params[:name] && params[:status].blank?&& params[:ordered].blank?%>
  <% @customer_id = User.find_by(name: params[:name]).id %>
  <% @customer_orders=Order.where(user_id: @customer_id.to_s).to_a %>
<% elsif params[:status]&& params[:name].blank? && params[:ordered].blank? %>
  <% @customer_orders=Order.where(status: params[:status]).to_a %>
<% elsif params[:ordered]&& params[:name].blank?&& params[:status].blank?%>
  <% @customer_orders=Order.where(created_at: Date.parse(params[:ordered].to_s).beginning_of_day..Date.parse(params[:ordered].to_s).end_of_day).to_a %>
<% end %>
<% end %>
<table id = "easy-table">
<thead>
  <tr style="color: #890000;;font-size:20px">
    <th>Order Id</th>
    <th>Customer Name</th>
    <th >Mobile No</th>
    <th >Ordered On</th>
    <th>Delivery Status</th>
    <th >Delivered On</th>
    <th>Items</th>
    <th >Quantity</th>
    <th >Total Cost (₹)</th>
  </tr>
  </thead>
  <% data = []%>
  <% @customer_orders.each do |report|%>
   <% data.append(report)%>
  <% end %>
  
  <% for i in 1..5 do%>
  <% @customer_orders.each do |report|%>
  <% cache report do%>
  <tbody>
  <tr>
    <td><%= report.id %></td>
    <td class = "user_name" style="margin-top:15px;"><%= User.find(report.user_id).name%></td>
    <td><%= User.find(report.user_id).mobile_no %></td>
    <td><%= report.created_at.in_time_zone("Chennai").strftime("%b %d, %Y") %></td>
    <td class = "user_name"><%= report.status %></td>
    <%if report.status == "Delivered" %>
      <td class = "user_name"><%= report.created_at.in_time_zone("Chennai").strftime("%b %d, %Y") %></td>
    <% else %>
       <td class = "user_name"></td>
    <% end %>
    <td >
       <% report.menu.split("+") do |o| %>      
        <% str= o.split("*")%>
        <%= str[0]%>
        <br>
        <% end %>
    </td>
    <td>
    <% cost=0%>
       <% report.menu.split("+") do |o| %>      
        <% str= o.split("*")%>
         <%= str[1]%> 
        <% cost=str[2].to_i+cost%>
        <br>
        <% end %>
    </td>

    <td><%= cost%></td>
  </tr>
  </tbody>
  <%# <% end %> 
<% end %>
</table>
<div id="paginator">
<button onclick="previousPage()" class="paginator-button" id = "previous" ><</button>
<button onclick="previousPage()" class="paginator-button" id = "next" >></button>
<%# <button onclick="showPage(0)" class="paginator-button">1</button>
<button onclick="showPage(1)" class="paginator-button">2</button>
<button onclick="showPage(2)" class="paginator-button">3</button>
<button onclick="showPage(3)" class="paginator-button">4</button>
<button onclick="showPage(4)" class="paginator-button">5</button>
<button onclick="showPage(5)" class="paginator-button">6</button>
<button onclick="showPage(6)" class="paginator-button">7</button> %>
</div>
</div>
</section>
</div>
</body>