<head>
<link href = "bootstrap.min.css" rel="stylesheet">
</head>
<body> 
<style>
 td, th {
  border: 1px solid #EEEEEE;
  text-align: center;
  padding: 14px;
  font-size:20px;
}
</style>
<script src = "jquery.min.js"></script>
<script src = "bootstrap.min.js"></script>
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>

<div class = "main_card">
<section class = "style_card">

<section id="mySidebar" class = "sidebar">
  <a href="javascript:void(0)" class = "closebtn" onclick = "closeNav()">×</a>
  <p class = "SidebarComponents"> <%= link_to "Orders", orders_restaurant_path, class:"SidebarComponentsRuby"%></p>
 <p class = "SidebarComponents"> <%= link_to "Menu", menu_restaurant_path, class:"SidebarComponentsRuby"%></p>
  <p class = "SidebarComponents"><%= link_to "Users", users_restaurant_path, class:"SidebarComponentsRuby"%></p>
  <p class = "SidebarComponents"><%= link_to "Reports", reports_restaurant_path, class:"SidebarComponentsRuby"%></p>
</section>

<section id = "main">

<div class = "display" >
  <button class = "openbtn" onclick = "openNav()">☰</button>  
  <p class = "h1_reports_style"> Customer Reports </p>
</div>

<%= form_with(url:"/reports_restaurant", method: "get", class:"style")  do |form| %>
   <p class = "dropdown">
   <%= form.select :name, User.all.map{ |t| t.name},{:prompt=>"Choose Customer name",:selected=>params[:name]},{class:"select_reports"}%>
   <%= form.select :status, ["Pending","Cancelled", "Add to queue", "Preparing", "Delivered","Confirm Success"], {:prompt=>"Choose status", :selected => params[:status]},{class:"select_reports"} %>
   <%= form.select :ordered, Order.all.map { |t| t.created_at.in_time_zone("Chennai").strftime("%b %d, %Y")}.uniq, {:prompt=>"Choose Ordered date", :selected => params[:ordered]},{class:"select_reports"} %> 
   <%= form.submit "Reports", class:"Reports" %>
   </p>
<% end %>
<select name = "state" id = "maxRows" class="form-control" style = width:150px;>
<option value="5000">Show All</option>
<option value="5">5</option>
<option value="10">10</option>
<option value="15">15</option>
<option value="20">20</option>
<option value="50">50</option>
<option value="75">75</option>
<option value="100">100</option>
</select>

<% if params[:name].blank? && params[:status].blank?&& params[:ordered].blank?%>
<% @customer_orders=Order.all%>
<% else %>
<% if params[:name] && params[:status].blank?&& params[:ordered].blank?%>
  <% @customer_id = User.find_by(name: params[:name]).id %>
  <% @customer_orders=Order.where(user_id: @customer_id.to_s).to_a %>
<% elsif params[:status]&& params[:name].blank? && params[:ordered].blank? %>
  <% @customer_orders=Order.where(status: params[:status]).to_a %>
<% elsif params[:ordered]&& params[:name].blank?&& params[:status].blank?%>
  <% @customer_orders=Order.where(created_at: Date.parse(params[:ordered].to_s).beginning_of_day..Date.parse(params[:ordered].to_s).end_of_day).to_a %>
<% end %>
<% end %>


<table id="mytable" class = "table">
   <thead>
  <tr style="color: #890000;;font-size:20px">
    <th>Order Id</th>
    <th>Customer Name</th>
    <th >Mobile No</th>
    <th >Ordered On</th>
    <th>Delivery Status</th>
    <th >Delivered</th>
    <th>Items</th>
    <th >Quantity</th>
    <th >Total Cost ₹</th>
  </tr>
  </thead>
  <tbody>
  <% @customer_orders.each do |report|%>
  <% cache report do%>
  <tr>
    <td><%= report.id %></td>
    <td class = "user_name" style="margin-top:15px;"><%= User.find(report.user_id).name%></td>
    <td><%= User.find(report.user_id).mobile_no %></td>
    <td><%= report.created_at.in_time_zone("Chennai").strftime("%b %d, %Y") %></td>
    <td class = "user_name"><%= report.status %></td>
    <%if report.status == "Delivered" %>
      <td class = "user_name"><%= report.status %></td>
    <% else %>
       <td class = "user_name"></td>
    <% end %>
    <td>
       <% report.menu.split("+") do |o| %>      
        <% str= o.split("*")%>
        <%= str[0]%>
        <br>
        <% end %>
    </td>
    <td>
    <% cost=0%>
       <% report.menu.split("+") do |o| %>      
        <% str= o.split("*")%>
         <%= str[1]%>
        <% cost=str[2].to_i+cost%>
        <br>
        <% end %>
    </td>

    <td><%= cost%></td>
  </tr>
  <% end %>
<% end %>
</tbody>
</table>

<div class = "pagination-container">
   <nav>
     <ul class = "pagination"></ul>
   </nav>
</div>
<script>
 var table = '#mytable'
 $('#maxRows').on('change', function(){
   $('.pagination').html('')
   var trnum = 0
   var maxRows = parseInt($(this).val())
   var totalRows = $(table+' tbody tr').length
   $(table+ 'tr:gt(0)').each(function(){
     trnum++
     if(trnum > maxRows){
      $(this).hide()
     }
     if(trnum <= maxRows){
      $(this).show()
     }
   })
   if(tatalRows > maxRows){
     var pagenum = Math.ceil(totalRows/maxRows)
     for(var i=1;i<=pagenum;){
      $('.pagination').append('<li data-page="'+i+'">\<span>'+ i++ +'<span class = "sr-only">(current)</span> </span>\</li>').show()
     }
   }
   $('.pagination li:first-child').addClass('active')
    $('.pagination li').on('click',function(){
      var pageNum = $(this).attr('data-page')
      var trIndex = 0;
      $('.pagination li').removeClass('active')
      $(this).addClass('active')
      $(table+' tr:gt(0)').each(function(){
         trnum++
        if(trIndex> (maxRows*pageNum)||trIndex <= ((maxRows*pageNum)-maxRows){
            $(this).hide()
        }
        else {
            $(this).show()
         }
      })
    })
 })
$(function(){
   $('table tr:eq(0)').prepend('<th>ID</th>')
    var id = 0
     $('table tr:gt(0)').each(function(){
       id++
       $(this).prepend('<td>'+id+'</td>')
     })
}
</script>
</div>
</section>
</div>
</body>