<!DOCTYPE html>
<html>
  <head>
    <title>FoodApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </head>

  <body>
  <% if @current_user %>
     <% if @current_user.sign_in_count <=1 %>
        <p class = "UserHeader"> Welcome <%= @current_user.name%>!</p>
     <% end %>


  <div class = "action">
   <div class = "profile" onclick="menuToggle();">
   <img class = "image" src="https://media.istockphoto.com/vectors/user-member-vector-icon-for-ui-user-interface-or-profile-face-avatar-vector-id1130884625?k=20&m=1130884625&s=612x612&w=0&h=OITK5Otm_lRj7Cx8mBhm7NtLTEHvp6v3XnZFLZmuB9o=">
   </div>
   <div class = "MenuToggle">
   <table class = "users-table">
  <tr>
    <th class = "users-th">Name :</th>
    <th class = "users-th"><%= @current_user.name%></th>
  <tr> 
  <tr>
    <th class = "users-th">Mobile No :</th>
    <th class = "users-th"><%= @current_user.mobile_no%></th>
  <tr> 
  <tr>
    <th class = "users-th">Email Id :</th>
    <th class = "users-th"><%= @current_user.email%></th>
  <tr> 
  <tr>
    <th class = "users-th">Address :</th>
    <th class = "users-th"><%= @current_user.address%></th>
  <tr> 
  </table>
   <%= button_to "Sign-out", destroy_session_path, method: "delete", class:"SignOut"%>
  </div>
  <script>
     function menuToggle(){
        const toggleMenu = document.querySelector('.MenuToggle');
        toggleMenu.classList.toggle('active')
     }
  </script>
 </div>
  

  <div class = "main_card">
<section class = "style_card">
 <p class = "menu_style">
   <%= link_to "Menu", main_index_path, class:"SideBarComponentsUsersSide"%>
  <%= link_to "My Orders", orders_path, class:"SideBarComponentsUsersSide"%>
  <%= link_to "Cart", carts_path, class:"CartComponent"%>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKGxujYqqoJ2wjE-cUDwfmfhjX-ls8t7TAcwcfgjd5LspLpQnT7-pXfP_pVapr9qF1kZQ&usqp=CAU" class = "cart_image" > 
   <% c = 0%>
  <% currentuser_model(Cart).each do |cart|%>
    <%c = c+cart.count%>
  <% end %>
  <% if c!=0%>
  <%= tag.span c, class: "notification_color"%>
  <% end %>
  <input type = "image" class = "notification_image" src="https://icones.pro/wp-content/uploads/2022/02/icone-de-cloche-grise.png"  onclick = "notificationToggle();">
   <%= tag.span  method_status("Delivered").count, {class:"notification_color"}%>
  <div class = "notification_action">
   <div class = "NotificationToggle">
   <% method_status("Delivered").each do |del|%>
   <section class = "display_css">
   <p>Order no: #<%= del.id %> was delivered</p>
   <%= button_to "Yes", "/orders/#{del.id}", method: "put", class:"YesHeader"%>
   </section>
   <%end%>
  </div>
  </p>
  <script>
     function notificationToggle(){
        const toggleMenu = document.querySelector('.NotificationToggle');
        toggleMenu.classList.toggle('active')
     }
  </script>
<br>
  <hr>

  <% end%>

<% if @current_owner %>
 <% if @current_owner.sign_in_count <= 1 %>
      <p class = "UserHeader"> Welcome <%= @current_owner.name%>!</p>
  <% end %>
  <div class = "action">
   <div class = "profile" onclick="menuToggle();">
   <img class = "image" src="https://media.istockphoto.com/vectors/user-member-vector-icon-for-ui-user-interface-or-profile-face-avatar-vector-id1130884625?k=20&m=1130884625&s=612x612&w=0&h=OITK5Otm_lRj7Cx8mBhm7NtLTEHvp6v3XnZFLZmuB9o=">
   </div>
   <div class = "MenuToggle">
    <table class = "users-table">
  <tr>
    <th class = "users-th">Name :</th>
    <th class = "users-th"><%= @current_owner.name%></th>
  <tr> 
  <% if Worker.find_by(email: @current_owner.email) %>
  <tr>
    <th class = "users-th">Mobile No :</th>
    <th class = "users-th"><%= @current_owner.mobile_no%></th>
  <tr> 
  <% end %>
  <tr>
    <th class = "users-th">Email Id :</th>
    <th class = "users-th"><%= @current_owner.email%></th>
  <tr> 
  <tr>
    <th class = "users-th">Address :</th>
    <th class = "users-th"><%= @current_owner.address%></th>
  <tr> 
  </table>
   <%= button_to "Sign-out", destroy_session_res_path, method: "delete", class:"SignOut"%>
  </div>
  <script>
     function menuToggle(){
        const toggleMenu = document.querySelector('.MenuToggle');
        toggleMenu.classList.toggle('active')
     }
  </script>
  </div>
  <% end%>


  <% if flash[:error] %>
    <p class = "Flash-error">
      <%= flash[:error] %>
    </p>
  <% end %>
  <%= yield%>
    </body>
</html>
