<!DOCTYPE html>
<html>
  <head>
    <title>FoodApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </head>

  <body>
  <% if @current_user %>
 <div class="card_profile">
  <p class="UserHeader"> Welcome <%= @current_user.name%>!</p>
  </div>

  <div class="action">
   <div class="profile" onclick="menuToggle();">
   <img class="image" src="https://media.istockphoto.com/vectors/user-member-vector-icon-for-ui-user-interface-or-profile-face-avatar-vector-id1130884625?k=20&m=1130884625&s=612x612&w=0&h=OITK5Otm_lRj7Cx8mBhm7NtLTEHvp6v3XnZFLZmuB9o=">
   </div>
   <div class="MenuToggle">
   <p>Name: <%= @current_user.name%></p>
   <p>Mobile No: <%= @current_user.mobile_no%></p>
   <p>Email Id: <%= @current_user.email%></p>
   <p>Address: <%= @current_user.address%></p>
   <%= button_to "Sign-out", destroy_session_path, method: "delete", class:"UserHeader1"%>
  </div>
  <script>
     function menuToggle(){
        const toggleMenu = document.querySelector('.MenuToggle');
        toggleMenu.classList.toggle('active')
     }
  </script>
 </div>
  

  <% end%>

   <% if @current_owner %>
   <div class="card_profile">
  <p class="UserHeader"> Welcome <%= @current_owner.name%>!</p>
  </div>
  
  <div class="action">
   <div class="profile" onclick="menuToggle();">
   <img class="image" src="https://media.istockphoto.com/vectors/user-member-vector-icon-for-ui-user-interface-or-profile-face-avatar-vector-id1130884625?k=20&m=1130884625&s=612x612&w=0&h=OITK5Otm_lRj7Cx8mBhm7NtLTEHvp6v3XnZFLZmuB9o=">
   </div>
   <div class="MenuToggle">
   <p>Name: <%= @current_owner.name%></p>
   <p>Email Id: <%= @current_owner.email%></p>
   <p>Address: <%= @current_owner.address%></p>
   <%= button_to "Sign-out", destroy_session_res_path, method: "delete", class:"UserHeader1"%>
  </div>
  <script>
     function menuToggle(){
        const toggleMenu = document.querySelector('.MenuToggle');
        toggleMenu.classList.toggle('active')
     }
  </script>
  </div>
  <% end%>


  <% if flash[:error] %>
    <p class="Flash-error">
      <%= flash[:error] %>
    </p>
  <% end %>
  <%= yield%>
    </body>
</html>
