<!DOCTYPE html>
<html>
  <head>
    <title>FoodApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if @current_user %>
  <div class="card1">
  <p class="UserHeader"> Welcome <%= @current_user.name%>!
    <%= button_to "Sign-out", destroy_session_path, method: "delete", class:"UserHeader1"%>
  </p>
  </div>
  <% end%>

   <% if @current_owner %>
  <div class="card1">
  <p class="UserHeader"> Welcome <%= @current_owner.name%>!
    <%= button_to "Sign-out", destroy_session_path, method: "delete", class:"UserHeader1"%>
  </p>
  </div>
  <% end%>

  <% if flash[:error] %>
    <p class="Flash-error">
      <%= flash[:error] %>
    </p>
  <% end %>
    <%= yield %>
  </body>
</html>
