<!DOCTYPE html>
<html>
  <head>
    <title>FoodApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </head>

  <body>
  <% if @current_user %>
  <!--
 <div class = "card_profile">
  <p class = "UserHeader"> Welcome <%= @current_user.name%>!</p>
  </div>
-->

  <div class = "action">
   <div class = "profile" onclick="menuToggle();">
   <img class = "image" src="https://media.istockphoto.com/vectors/user-member-vector-icon-for-ui-user-interface-or-profile-face-avatar-vector-id1130884625?k=20&m=1130884625&s=612x612&w=0&h=OITK5Otm_lRj7Cx8mBhm7NtLTEHvp6v3XnZFLZmuB9o=">
   </div>
   <div class = "MenuToggle">
   <p class = "User_Name">Name: <%= @current_user.name%></p>
   <p class = "User_Name">Mobile No: <%= @current_user.mobile_no%></p>
   <p class = "User_Name">Email Id: <%= @current_user.email%></p>
   <p class = "User_Name">Address: <%= @current_user.address%></p>
   <%= button_to "Sign-out", destroy_session_path, method: "delete", class:"SignOut"%>
  </div>
  <script>
     function menuToggle(){
        const toggleMenu = document.querySelector('.MenuToggle');
        toggleMenu.classList.toggle('active')
     }
  </script>
 </div>
  

  <div class = "main_card">
<section class = "style_card">
 <p class = "menu_style">
   <%= link_to "Menu", view_user_path, class:"BarComponentsRuby"%>
  <%= link_to "My Orders", orders_path, class:"BarComponentsRuby"%>
  <%= link_to "Cart", carts_path, class:"CartComponent"%>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKGxujYqqoJ2wjE-cUDwfmfhjX-ls8t7TAcwcfgjd5LspLpQnT7-pXfP_pVapr9qF1kZQ&usqp=CAU" class = "cart_image" > 
   <% c = 0%>
  <% model_user(Cart).each do |cart|%>
    <%c = c+cart.count%>
  <% end %>
  <% if c!=0%>
  <%= tag.span c, class: "notification_color"%>
  <% end %>
  <input type = "image" class = "notification_image" src="https://icones.pro/wp-content/uploads/2022/02/icone-de-cloche-grise.png"  onclick = "notificationToggle();">
   <%= tag.span  method_status("Delivered").count, {class:"notification_color"}%>
  <div class = "notification_action">
   <div class = "NotificationToggle">
   <% method_status("Delivered").each do |del|%>
   <section class = "display_css">
   <p>Order no: #<%= del.id %> was delivered</p>
   <%= button_to "Yes", "/orders/#{del.id}", method: "put", class:"YesHeader"%>
   </section>
   <%end%>
  </div>
  </p>
  <script>
     function notificationToggle(){
        const toggleMenu = document.querySelector('.NotificationToggle');
        toggleMenu.classList.toggle('active')
     }
  </script>
<br>
  <hr>

  <% end%>

   <% if @current_owner %>
   <!--
   <div class = "card_profile">
  <p class = "UserHeader"> Welcome <%= @current_owner.name%>!</p>
  </div>
  -->
  <div class = "action">
   <div class = "profile" onclick="menuToggle();">
   <img class = "image" src="https://media.istockphoto.com/vectors/user-member-vector-icon-for-ui-user-interface-or-profile-face-avatar-vector-id1130884625?k=20&m=1130884625&s=612x612&w=0&h=OITK5Otm_lRj7Cx8mBhm7NtLTEHvp6v3XnZFLZmuB9o=">
   </div>
   <div class = "MenuToggle">
   <p class = "User_Name">Name: <%= @current_owner.name%></p>
   <p class = "User_Name">Email Id: <%= @current_owner.email%></p>
   <p class = "User_Name">Address: <%= @current_owner.address%></p>
   <%= button_to "Sign-out", destroy_session_res_path, method: "delete", class:"SignOut"%>
  </div>
  <script>
     function menuToggle(){
        const toggleMenu = document.querySelector('.MenuToggle');
        toggleMenu.classList.toggle('active')
     }
  </script>
  </div>
  <% end%>


  <% if flash[:error] %>
    <p class = "Flash-error">
      <%= flash[:error] %>
    </p>
  <% end %>
  <%= yield%>
    </body>
</html>
